/* Reusable colors */
:root {
    --background-color: rgb(25, 25, 25);
    --section-bg-color: rgb(36, 36, 36);
    --highlight: rgb(120, 63, 197);
    --text: rgb(230, 230, 230);
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}

a {
    color: var(--text)
}

p {
    color: var(--text)
}

h1 {
    color: var(--text);
}

h2 {
    color: var(--highlight);
}

h3 {
    color: var(--text);
}

body {
    box-sizing: border-box;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

/* Section styles*/

section {
    margin: 0 auto;
    max-width: 100%;
    padding: 1rem;

}

#about, #team, #contact {
    background-color: var(--section-bg-color);
}

.section-title {
    width: 100%;
    text-align: center;
    align-items: center;
    color: var(--highlight);
    /* padding: .5rem; */
}

.section-content {
    max-width: 1280px;
    margin: 0 auto;
}

/* Floating socials */

.socials-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 2rem;
    top: 30vh;
    z-index: 101;
}

.socials-button {
    background-color: var(--background-color);
    width: 4rem;
    height: 4rem;
    margin: 0.5rem;
    border: 1px solid var(--highlight);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Header section */

header {
    min-height: 80px;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--section-bg-color);
    padding: 0 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

header img{
    padding: 0.5rem;
    transition: filter 0.3s ease;
}

header img:hover{
    filter: invert(100%);
}


/* Navigation bar section */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
    background-color: inherit;
}

.navbar a {
    padding: 0 1rem;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 1.2rem;
}

.navbar a:hover {
    color: var(--highlight);
}


.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;

}

.nav-menu a {
    padding: 0 1rem;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 1.2rem;
}

.nav-menu a:hover {
    color: rgb(120, 63, 197);
}


.hamburger {
    display: none; 
    
}

.bar {
    display: block;
    width: 28.5px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--highlight);
    
}

.hamburger.active .bar:nth-child(2) /*SECOND/MIDDLE BAR */ {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media screen and (max-width:838px) {
         
    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 100;
        position:relative;
        left: 45%;

    }



    .nav-menu {
        position: fixed;
        height: 100vh;
        left: -0%;
        top: -100%;
        gap: 0;
        flex-direction: column;
        justify-content: center;
        background-color: inherit;
        width: 100%;
        text-align: center;
        transition: 0.3s; 
        z-index: -1;
        
    }

    
    .nav-menu a {
        padding: 0 1rem;
        text-decoration: none;
        transition: color 0.3s ease;
        font-size: 1.2rem;
        margin: 16px auto;
        gap: 0;
  
    }

    .nav-menu.active {
        top: 0%;
    }
    
    
  }

/* Hero section */

.hero-background {
    padding: 0;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero-background img{
    max-height: 135vh;
}

.hero-background h1{
    background-color: var(--section-bg-color);
    position: absolute;
    top: 30rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid var(--highlight);
    font-size: 8vh;
}

/* About section */

#about-content {
    display: flex;
    justify-content:center;
    gap: 1rem; 
    padding: 1rem;
}

#about-content img {
    border: 1px solid var(--highlight);
    max-width: 20rem;
}

.bullet-point-container {
    max-width: 100%;
}
  
.bullet-point {
    background-color: var(--section-bg-color);
    border: 1px solid var(--highlight);
    margin-bottom: 0.5rem;
    cursor: pointer;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}
  
.bullet-title {
    background-color: var(--background-color);
    padding: 10px;
    font-weight: bold;
}
  
.bullet-point-content {
    padding: 0 10px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
  
.bullet-point.expanded {
    max-height: 200px; /* Adjust the maximum height based on your content */
}
  
.bullet-point.expanded .bullet-point-content {
    max-height: 500px; /* Adjust the maximum height based on your content */
    opacity: 1;
    transition-delay: 0.3s;
}

/* Services section */

.services-nav {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.services-nav-button {
    background-color: var(--section-bg-color);
    color: var(--text);
    padding: 0.5rem 2rem 0.5rem 2rem;
    border: none;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.services-nav-button:hover {
    color: var(--highlight);
    cursor: pointer;
}

.active-button {
    border: 1px solid var(--highlight);
}

.services-contect {
    border: 1px solid var(--highlight);
    background-color: var(--section-bg-color);
    display: flex;
    max-width: 100%;
    max-height: 30rem;
}

.service {
    display: none;
    align-items: center;
    animation: fadeInOut 1s ease-in-out;
}

.service.active {
    display: flex;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.service img {
    max-height: 28rem;
}

.service-information {
    padding: 2rem;
}

/* Team section */

#team ul {
    list-style: none;
    padding: 0;
  }

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 30px;
    justify-content: center;

  }


.card{
    width: 290px;
    height: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 1px solid var(--highlight);
    background-color: var(--background-color);
    color: var(--text);
    margin: 0 auto;
}

.card img{
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    border: 1px solid var(--highlight);
}




/* Testimonials section */
  
  .testimonies {
    overflow: hidden;
    padding: 60px 0;
    background: var(--background-color);
    white-space: nowrap;
    position: relative;
    display: flex;
    }
  
  .testimonies:before,
  .testimonies:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
    }
  
  .testimonies:before {
    left: 0;
    background: linear-gradient(to left, rgba(25, 25, 25, 0), var(--background-color));
    }
  
  .testimonies:after {
    right: 0;
    background: linear-gradient(to right, rgba(25, 25, 25, 0), var(--background-color));
    }
  
  .testimonies:hover .testimonial-slide {
    animation-play-state: paused;
    }
  
  .testimonial-slide {
    display: flex;
    animation: slide 35s  infinite linear;
    height: 100%;
    }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
     }
  
  .testimonial-slide li {
      height: 200px;
      width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: relative;
      margin: 0 40px;
      border: 1px solid var(--highlight) ;
      color: var(--text);
      padding: 0 1em;
      }
  
  .testimonial-card  {
    max-width: 100%;
    word-wrap: break-word; 
    white-space: normal;
    }



/* Contact section */

#contact-form {
    margin: 0 auto;
    max-width: 400px;
    padding: 1rem;
    text-align: center;
    color: var(--text);
    }

form > * + * {
    margin-top: 1.5rem;
    }

    .form-control {
  padding-bottom: 20px;
  position: relative;
}

  label  {
      display: none;
    }

::placeholder {
    color:inherit
    }

 input {
    height: 2rem;
    }



textarea {
    height: 7rem;
    }


input,
textarea {
  display: block;
  font: inherit;
  color: var(--text);
  background-color: var(--background-color);
  border: 1px solid var(--highlight);
  width: 100%;
  resize: none;
  }

input:focus, 
textarea:focus {
    outline: 0;
    
    /* background-color: ; */
  }


fieldset {
    max-width: 100%;
    background-color: var(--background-color);
    border: 1px solid var(--highlight);
    display: flex;
    padding: 1.5rem;
    align-items: center; 
    }

fieldset label {
    display: inline-block;
    }

legend {
    font-size: 1.2rem;
    border: 1px solid var(--highlight);
    padding: .3rem;
    }

input[type="radio"] {
    height: .9rem;
    }

form button {
    margin: 1rem auto;
    border: none;
    background-color: var(--background-color);
    color: var(--text);
    font-size: 1.2rem;
    cursor: pointer;  
    /* padding: 10px;
    margin-top: 20px;
    width: 100%; */
   }

   /* styles for validation */

   .form-control.success input {
    border-color: var(--success-color);
  }
  
  .form-control.error input {
    border-color: var(--error-color);
  }
  
  .form-control small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
  }
  
  .form-control.error small {
    visibility: visible;
  }
  


/* Footer section */

footer {
    color: var(--text);
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.footer-container {
    width: 1240px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.arrow-button {
    background-color: var(--background-color);
    width: 4rem;
    height: 4rem;
    margin: 0.5rem;
    border: 1px solid var(--highlight);
    display: flex;
    align-items: center;
    justify-content: center;
}